ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.*
!config.vapi
configure
configure.ac
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
mkinstalldirs
stamp-h1
autom4te.cache
.deps
*~
*.swp
*.a
*.bz2
*.la
*.lo
*.o
*.gmo
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/xfmpc.pot
src/*.c
src/*.h
src/xfmpc
src/xfmpc_vala.stamp
xfmpc.desktop
