INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool-*
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
autom4te.cache
.deps
*.swp
*.o
*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-it
src/*.c
src/*.h
src/xfmpc
src/xfmpc_vala.stamp
xfmpc.desktop