INSTALL
Makefile
Makefile.in
aclocal.m4
compile
config.*
configure
configure.in
depcomp
install-sh
intltool-*
missing
mkinstalldirs
stamp-h1
autom4te.cache
.deps
*.swp
*.o
*.gmo
po/Makefile.in.in
po/POTFILES
po/stamp-it
